
@import 'channel-list.css';
@import 'banner.css';
@import 'popular-channels.css';

body {
  margin: 0
}



.content  {
  display: flex;
  /* flex-flow: row-reverse; */
  /* justify-content: flex-start */
}

.hero {
  margin: 20px 0;
  display: flex;
  justify-content: center
}

aside {
  background-color: black;
  color: lightgrey;

  display: flex;
  flex-flow: column nowrap;
}

aside section:last-child {
  /* flex: 1 */
}


