
@import 'channel-list.css';
@import 'banner.css';

body {
  margin: 0
}



.content  {
  display: flex;
  /* flex-flow: row-reverse; */
  /* justify-content: flex-start */
}

.hero {
  margin: 20px

}


.popular-live-channels {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px

}

.popular-live-channels header {
  margin: 10px 0
}

.popular-live-channels section {
  display: flex;
}

.popular-live-channel {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding-right: 20px
}

.popular-live-channel img {
  padding-bottom: 10px
}

.popular-live-channel-info {
  display: flex;
  align-items: flex-start
}


.popular-live-channel-info > *{
  padding-right: 10px
}

.popular-live-channel-info-title {
  display: flex;
  flex-flow: column nowrap;

}

.popular-live-channel-info-title > * {
  padding-bottom: 5px
}